.hide {
  display: none;
}

.line-clamp {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

u {
  font-size: 14px;
}

.overview {
  line-height: 1.5;
}
